
*{
    box-sizing: border-box;
}
html,
body
{
background-color: rgb(242, 242, 242);
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
height: 100%;
margin:0px;
padding:0px;
width: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
header{
    background-color: white;
    padding: 10px;
 }
.section{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    margin: 10px auto;
    max-width: 100%;
 }

/*section Diego*/
.title_responsive{
   display: none;
}
.section__navlateral{
   display: flex;
   flex-basis: 15%;
   flex-direction: column;
}
.section__navlateral_section1{
   align-items: center;
   display: grid;
   gap: 10px;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.section__navlateral_section1 a{
   align-items: center;
   display: flex;
   font-family: Arial, Helvetica, sans-serif;
   gap: 20px;
}
.section__navlateral_section1 img{
   width: 30px;
}
.section__navlateral_section1 a:hover{
   background-color: rgb(236, 236, 254);
   border-radius: 7px;
   color: blue ;
   cursor: pointer;
   text-decoration-line: underline;
}
.other{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.6rem;
   font-weight:bold;
}
.section__navlateral_section2{
   gap: 10px;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   display: grid;
}
.section__navlateral_section2 img{
   width: 30px;
}
.section__navlateral_section2 a{
   align-items: center;
   display: flex;
   font-family: Arial, Helvetica, sans-serif;
   gap: 20px;
}
.section__navlateral_section2 a:hover{
   background-color: rgb(236, 236, 254);
   border-radius: 7px;
   color: blue ;
   cursor: pointer;
   text-decoration-line: underline;
}
.section__navlateral_networks{
   align-items: center;
   display: flex;
   justify-items: center;
   padding-top: 60px;
}
.section__navlateral_networks a:hover{
   cursor: pointer;
   background-color: rgb(228, 228, 249);
   border-radius: 7px;
}
.section__navlateral_networks img{
   padding-right: 15px;
   width: 50px;
}
.section__navlateral_tag {
   align-items: center;
   display: flex;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.6rem;
   font-weight:bold;
   justify-content: space-between;
}
.section__navlateral_tag a:hover{
   background-color: rgb(228, 228, 249);
   border-radius: 7px;
   cursor: pointer;
}
.section__navlateral_sponsor_title1{
   background-color: rgb(239, 242, 242);
   border: 1px solid rgb(224, 224, 224);
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   height: 380px;
   padding-left: 20px;
   margin-top: 200px;
   width: 300px;
}
.section__navlateral_sponsor_title1 p:nth-of-type(1){
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
}
.section__navlateral_sponsor_title1 p:nth-of-type(2){
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}
.section__navlateral_sponsor_title1 p:nth-of-type(3){
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}
.section__navlateral_sponsor_title1 a{
   color: blue;
   font-size: 22px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   text-decoration: underline;
}
.section__navlateral_sponsor_title1 a:hover{
   color: rgb(4, 4, 171);
   cursor: pointer;
}
.section__navlateral_sponsor_title2{
   border: 1px solid rgb(224, 224, 224);
   background-color: rgb(239, 242, 242);
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   height: 380px;
   margin-top: 30px;
   padding-left: 20px;
   padding-right: 20px;
   width: 300px;
}
.section__navlateral_sponsor_title2 p:nth-of-type(1){
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
}
.section__navlateral_sponsor_title2 img{
   border-radius: 10px;
   padding: 0;
   width: 260px;
}
.section__navlateral_sponsor_title2 p:nth-of-type(2){
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}
.section__navlateral_sponsor_title2 a{
   color: blue;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   text-decoration: underline;
}
.section__navlateral_sponsor_title2 a:hover{
   color: rgb(4, 4, 171);
   cursor: pointer;
}
/*finish Diego*/
.section__main{
    background-color: white;
    flex-basis: 40%;
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    width: 500px;
 }
.section__aside{
    background-color: white;
    flex-basis: 30%;
 }
footer{
    background-color: #e5e5e5;
    margin: 0px;
    padding: 50px; 
 }

/*responsive Diego*/
 @media (max-width: 767px){
   .section__navlateral{
      display: none;
   }
   .title_responsive{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.1rem;
      font-weight: bold;
      padding-left: 30px;
   }
   .section__navlateral_section1{
      padding-left: 30px;
   }
   .section__navlateral_section1 a{
      font-size: .9rem;
   }
   .section__navlateral_section1 img{
      width: 22px;
   }
   .other{
      font-size: 1.3rem;
   }
   .section__navlateral_section2{
      padding-left: 30px;
   }
   .section__navlateral_section2 a{
      font-size: .9rem;
   }
   .section__navlateral_section2 img{
      width: 22px;
   }
   .section__navlateral_networks{
      justify-content: center;
      padding-left: 19px;
      padding-top: 40px;
      margin-bottom: 100px;
   }
   .section__navlateral_networks img{
      padding-right: 15px;
      width: 36px;
   }
   .section__navlateral_tag {
      display: none;
   }
   .section__navlateral_sponsor_title1{
      display: none;
   }
   .section__navlateral_sponsor_title2{
      display: none;
   }
    
}
/*responsive Diego*/

 /*******LUIS******/
 .section__main__contenedor{
   display: flex;
}

.section__main__contenedor__title{
  background-color: #3b49e0;
  border-radius: .3rem;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
}

.section__main__contenedor__title__svg {
  display: flex;
  justify-content: end;
  margin-right: -20px;

}
.section__main__contenedor__title__svg svg{
   fill: #fff;
   height: auto;
   margin: 0;
   padding: 0;
   width: 20px;
  
}

.section__main__contenedor__title img{
  border: thin solid blue;
  margin: 0;
  padding: 0;
}

.section__main__contenedor__title h1{
   color: white;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  
}

.section__main__contenedor__title small{
  color: white;
  text-transform: uppercase;
}

.section__main__contenedor_a a{
   background-color: #5d6de6;
   border-radius: 0.2rem ;
   color: #fff;
   font-weight: bold;
   padding: 1rem;
   margin: 15px 0;
   text-decoration: none;
   opacity: 0.9;
   display: block;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 
}
.section__main__contenedor_a a p{
   margin: 0;
   padding: 0;
}

.section__main__articles{
  display: flex;
  background-color: #e5e5e5;
  gap:20px;
  padding: 12px 0;
}
.section__main__articles p:nth-child(1){
  font-weight: bold;
  margin-left: 10px;
 
}
.section__main__img-content{
  background-image: url("https://placeimg.com/600/250/people");
  background-repeat: no-repeat;
  border-radius: 0.5rem 0.5rem 0 0;
  min-height: 280px;
}

.section__main__radius{ 
  display: flex;
}
.section__main__radius img{
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

.section__main__radius div{
  
  flex-direction: column;
 
}

.section__main__radius div h5,p{
  margin: 0 8px;
  padding:0 2px;
}
.section__main__radius div p{
  font-size: 0.6rem;
  margin-left: 10px;
}

.section__main__enlaces{
padding-left: 50px;
margin-top: 0;

}
.section__main__enlaces h2{
  margin-top: 0;
}
.section__main__enlaces div{
  display: flex;
  gap: 8px;
  
}
.section__main__enlaces div a{
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
  
}
.section__main__enlaces div a:nth-child(1)::first-letter{
  color:black;
}
.section__main__enlaces div a:nth-child(2)::first-letter{
  color:blue;
}

.section__main__enlaces div a:nth-child(3)::first-letter{
  color:yellow;
}
.section__main__enlaces div a:nth-child(4)::first-letter{
  color:green;
}

.section__main__enlaces__icons{
  display: flex;
  justify-content:flex-start;
  align-items: center;
}
.section__main__enlaces__icons p{
  margin: 0;
 padding: 25px 0;
 font-size: 13px;
}
.section__main__enlaces__icons p:nth-child(6){
  padding-top: 28px;
}
.section__main__enlaces__icons__comments{
  display: flex;
  align-items:  center;

}

.section__main__enlaces__icons__img p{
  margin-left: 45px;
  font-size: 0.8rem;
  padding-top: 22px;
}
.section__main__enlaces__icons__img img{
  width: 15px;
  height: 15px;
  margin-top: 22px;
  
 
}
.section__main__enlaces__publicacion{
  background-color: #f1efef;
  border-radius: 0.5rem;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.section__main__enlaces__publicacion__redonde{
  display: flex;
  align-items:start;
}
.section__main__enlaces__publicacion__redonde div h5,p{
  margin-bottom: 0;
  margin-left: 4px;
  margin-top: 0;
}
.section__main__enlaces__publicacion__redonde div h5{
  font-size: 1rem;
}
.section__main__enlaces__publicacion__redonde> div> h6{
  font-size: 0.7rem;
  padding: 5px 0 10px 5px;
  margin: 0;
}
.section__main__enlaces__publicacion__redonde img{
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.section__main__enlaces__publicacion__comentario{
  padding-left: 42px;
}
.section__main__enlaces__publicacion> article p{
  line-height: 1.5rem;
}
.section__main__enlaces__publicacion article p:nth-child(5){
  margin-bottom: 10px;
 margin-top: 25px;
}

/*******FIN LUIS******/

// INICIO ASIDE
.section__aside{
  flex: 1 1 30%;
  max-width: 350px;
}
.section__aside__card1{
  background: linear-gradient(black 0 30px, #fafafa 30px 100%);  
  border-radius: 8px;
  border: 1px solid rgb(232, 232, 232);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: max-content;
  margin: 0 0 15px 0;
  max-width: 100%;
  padding: 15px;
}
.section__aside__card1__anchor1{
  flex-basis: 100%;
  height: max-content;
}
.section__aside__card1__anchor1 img{
  background: rgb(225, 225, 225);
  border-radius: 8px;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 55px;
}
.section__aside__card1__anchor1 h3{
  bottom: 5px;
  color: black;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 10px;
  position: relative;
}
.section__aside__card1__anchor1 h3:hover{
  color: #2f3ab2;
}
.section__aside__card1__anchor2{
  background:#3b49df;
  border-radius: 8px;
  color: white;
  display: inline-block;
  flex-basis: 100%;
  font-weight: 600;
  margin: 15px auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
.section__aside__card1__anchor2:hover{
  background:#2f3ab2;
  transition: .4s;
}
.section__aside__card1 p{
  color:#404040;
  flex-basis: 100%;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.4rem;
  margin: 10px 0px 10px 0px;
}
.section__aside__card1 span{
  color:#404040;
  font-weight: bold;
}
.section__aside__card1__anchor3{
  background: #fafafa;
  border-radius: 8px;
  border: 2px solid #b6b6b6;
  color: #404040;
  display: inline-block;
  flex-basis: 100%;
  font-weight: 600;
  margin-top: 10px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
}
.section__aside__card1__anchor3:hover{
  background:#afafaf20;
  border: 2px solid #969696;
  box-shadow: 1px 1px 6px 1px rgb(231, 231, 231);
  transition: .4s;
}
.section__aside__card2{
  background: #fafafa;
  border-radius: 8px;
  border: 1px solid rgb(232, 232, 232);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: max-content;
  margin: 15px 0 15px 0;
  max-width: 100%;
}
.section__aside__card2 h3{
  color: #404040;
  font-style: 1.17rem;
  margin: 15px;
}
.section__aside__card2__anchor1{
  color: #3b49df;
  font-size: 1.17rem;
  font-weight: bold;
  text-decoration: none;
}
.section__aside__card2__anchor2{
  border-bottom: 1px solid rgb(240, 240, 240);
  border-top: 1px solid rgb(240, 240, 240);
  color: #404040;
  flex-basis: 100%;
  margin: 0;
  padding: 15px;
  text-decoration: none;
}
.section__aside__card2__anchor3{
  color: #404040;
  flex-basis: 100%;
  margin: 0;
  padding: 15px;
  text-decoration: none;
}
.section__aside__card2__anchor4{
  border-top: 1px solid rgb(238, 238, 238);
  color: #404040;
  flex-basis: 100%;
  margin: 0;
  padding: 15px;
  text-decoration: none;
}
.section__aside__card2__paragraph1{
  margin: 0 0 15px 0;
}
.section__aside__card2__paragraph2{
  font-size: .9rem;
  margin: 0;
}
.section__aside__card2__anchor2:hover{
  background: white;
  .section__aside__card2__paragraph1{
  color: #3b49df;
  }
}
.section__aside__card2__anchor3:hover{
  background: white;
  .section__aside__card2__paragraph1{
  color: #3b49df;
  }
}
.section__aside__card2__anchor4:hover{
  background: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  .section__aside__card2__paragraph1{
  color: #3b49df;
  }
}
.section__aside__card3{
  background: #fafafa;
  border-radius: 8px;
  border: 1px solid rgb(232, 232, 232);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: max-content;
  margin: 15px 0 15px 0;
  max-width: 100%;
  padding: 15px 15px 25px 15px;
  position: sticky;
  top: 30px;
}
.section__aside__card3__top{
  align-items: center;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}
.section__aside__card3__top__right{
  align-items: center;
  display: flex;
}
.section__aside__card3__top__right img{
  background: rgb(225, 225, 225);
  border-radius: 8px;
  display: inline-block;
  height: 30px;
  margin: 0;
  padding: 0;
  width: 30px;
}
.section__aside__card3__top__right h5{
  color: #555555;
  display: inline-block;
  margin: 0px 10px;
}
.section__aside__card3__top span{
  background: none;
  border-radius: 6px;
  color: #404040;
  font-size: 1.4rem;
  margin: 0px 7px;
  padding: 3px;
}
.section__aside__card3__top span:hover{
  background: #b6b6b630;
  color: #404040;
  cursor: pointer;
  transition: .4s;
}
.section__aside__card3__top #modal__input{
  display: none;
}
.section__aside__card3__top__modal{
  opacity: 0;
  position: absolute;
  right: 10px;
  top: 56px;
  visibility: hidden;
  z-index: 2;
}
#modal__input:checked ~ .section__aside__card3__top__modal{
  opacity: 1;
  visibility: visible;
}
.section__aside__card3__top__modal__container{
  align-items: center;
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgb(232, 232, 232);
  box-shadow: 1px 1px 5px 5px #b6b6b630;
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  padding: 6px;
  width: 250px;
}
.section__aside__card3__top__modal__container a{
  align-items: center;
  border-radius: 6px;
  color: #404040;
  display: flex;
  flex-basis: 100%;
  margin: 0;
  padding: 5px;
  text-decoration: none;
}
.section__aside__card3__top__modal__container a:hover{
  background: #3b49df25;
  color:#2f3ab2;
  transition: .25s;
}
.section__aside__card3__top__modal__container div{
  background: #555555;
  flex-basis: 100%;
  height: 1px;
  margin: 8px 0;
}
.section__aside__card3__anchor1{
  flex: 1 1 100%;
  height: max-content;
  overflow: hidden;
}
.section__aside__card3__anchor1 img{
  border-radius: 8px;
  display: block;
  margin: 15px auto;
  opacity: .95;
  padding: 0;
  width: 100%;
}
.section__aside__card3__anchor1 img:hover{
  opacity: 1;
  transition: .4s;
}
.section__aside__card3 h3{
  color: #404040;
  margin: 0px 0 12px 0;
}
.section__aside__card3__paragraph1{
  color: #555555;
  margin: 0 0 25px 0;
}
.section__aside__card3__paragraph1 span{
  font-weight: bold;
}
.section__aside__card3__paragraph1 a{
  color: #3b49df;
}
.section__aside__card3__paragraph1 a:hover{
  color: #2f3ab2;
}
.section__aside__card3__paragraph2{
  color: #555555;
  margin: 0px;
}

@media screen and (max-width: 1020px){
  .section__aside{
    flex-basis: 90%;
    max-width: 918px;
}
}
@media screen and (max-width: 768px){
  .section__aside{
    flex-basis: 100%;
    max-width: 768px;
}
}
// FINAL ASIDE
